# This is Git's per-user configuration file.
[init]
    defaultBranch = main
[core]
	autocrlf = input
    quotepath = false
[user] 
	name = kouthi
	email = kouthi@users.noreply.github.com
[alias]
	co = checkout
